<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>./conf/param.properties</value>
			</list>
		</property>
	</bean>
	
	<bean id="verifyLicense" class="cn.melina.license.VerifyLicense" >
		<property name="uniqueIdentify" ref="uniqueIdentify"/>
		<property name="publicalias" value="${License.PUBLICALIAS}"/>
		<property name="storePwd" value="${License.STOREPWD}"/>
		<property name="subject" value="${License.SUBJECT}"/>
		<property name="licPath" value="${License.licPath}"/>
		<property name="pubPath" value="${License.pubPath}"/>
	</bean>
	
	<bean id="uniqueIdentify" class="license.identify.imp.MacIdentify">
	</bean>
</beans>